html
{
    scroll-behavior:smooth;
}
body
{
    position: relative;
}
*
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Bebas Neue", sans-serif;
}
:root
{
    --main-color:#3e3ecf;
}
/***************************************************************************************************************************************************/
i
{
    font-size: 70px;
} 
